
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-rdio:before { content: '\f324'; } /* '' */